#dashboard {
    position: relative;
}

#main {
    box-sizing: border-box;
    width: calc(100% - 400px);
    min-height: calc(100vh - 30px);
    position: absolute;
    top: 0;
    left: 400px;
}

#main h1 {
    margin-top: 20px;
}

#meetings {
    box-sizing: border-box;
    width: 400px;
    height: calc(100vh - 30px);
    overflow-y: scroll;
    padding: 20px;
    background-color: #282c34;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

#meetings h2 {
    margin-bottom: calc(9.6px + 0.5rem)
}

.card-element {
    display: inline-block;
    height: 150px;
    width: 300px;
    margin: 0 10px 20px 10px;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: bottom;
}

.lecture-section, .course {
    background-color: #cee2f7;
    padding-top: 60px;
}

.lecture-section-verbose {
    background-color: #cee2f7;
    padding-top: 40px;
}

.add-course, .add-section {
    padding-top: 60px;
}

.meeting {
    background-color: white;
    color: black;
    padding-top: 40px;
}

.meeting-verbose {
    background-color: white;
    color: black;
    padding-top: 30px;
}