.meeting-notes {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: calc(100vh - 30px);
    overflow-y: scroll;
    padding: 20px;
    background-color: #282c34;
    color: white;
}

.meeting-note {
    position: relative;
    background-color: #feff9c;
    color: black;
    width: 300px;
    padding: 20px;
    margin: 20px;
}

.note-delete {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 12px;
}

.note-delete:hover {
    cursor: pointer;
}

.note-date {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 12px;
}

.note-content {
    margin-top: 20px;
}

.note-input {
    width: 100%;
    height: 200px;
}

.meeting-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 400px);
}

.meeting-info {
    height: 200px;
    padding: 20px;
    background-color: rgb(41, 74, 102);
    color: white;
}

.meeting-comments {
    position: relative;
    height: calc(100vh - 268px);
    overflow-y: scroll;
    padding: 20px;
}

.meeting-comment {
    margin: 5px;
}

.comment-box {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

.comment-box {
    text-align: left;
}

.meeting-comment.mine {
    text-align: right;
}

.meeting-comment.mine .comment-box {
    background-color: blue;
    color: white;
}

.meeting-comment.theirs {
    text-align: left;
}

.meeting-comment.theirs .comment-box {
    background-color: lightgray;
    color: black;
}

.comment-date {
    font-size: 10px;
    margin-bottom: 0;
}

.new-comment .form-group {
    display: flex;
    margin: 0;
}

.new-comment button {
    border-radius: 0;
}