.office-hour-cont {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: gray;
  height: calc(100vh - 330px);
}

.office-hour-cont .container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
